@charset "UTF-8";

* {
  font-family: arial, Arial, Helvetica, sans-serif;
  /* height: 100%;*/
}
p {
  text-align: justify;
}
body {
  background-image: linear-gradient(
    to right,
    #26a1d2,
    #9ed6d7,
    #a9d9d9,
    #def0ee
  );
}

main {
  box-shadow: 10px 10px 10px rgba(6, 91, 92, 0.31);
  border-radius: 35px;
  background-color: white;
  padding: 10px;
  width: 600px;
  margin: auto;
}


h1 {
  text-align: center;
  text-shadow: 1px 1px 3px rgba(209, 101, 93, 0.46);
  color: #d1645d;
}
h2 {
  color: #025959;
}
